*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #FFFFFF;
}
.navbar-container
{
    width: 100%;
    height: 127px;
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img
    {
        position: absolute;
        width: 22px;
        height: 20x;
        left: 66px;       
    }
    .img1
 {
  
   margin-left: auto;
   margin-right: auto;

 }
}
 .logo-container1
 {
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: absolute;
    width: 350px;
    font-weight: 200;
    font-size: 20px;
    line-height: 27px;
    left: 200px;
    flex-direction: row;
    }
    li
    {
        list-style: none;
 }
 .logo-container2
 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 300px;
    font-weight: 200;
    font-size: 20px;
    line-height: 27px;
    right: 200px; 
    flex-direction: row;
    li
    {
        list-style: none;
    }
 }
 .img2
 {
   float: right;
   position: absolute;
   top: 0px;
   width: 687px;
   height: 900px;
   left: 720px;
 }
.section-container
{
    position: absolute;
    display: flex;
    box-sizing: border-box;
    .h2
    {
        position: absolute;
        font-size: 50px;
        font-weight: 500;
        top: 200px;
        left: 100px;
        line-height: 67px;
    }
.img3
{
position: absolute;
top: 190px;
left: 220px;
}
.h1{
    position: absolute;
    font-size: 90px;
    font-weight: 500;
    top: 250px;
    left: 100px;
}
.img4{
    position: absolute;
    left: 100px;
    top: 370px;
}
.p{
    position: absolute;
    display: flex;
    font-size: 20px;
    font-weight: 500;
    left: 100px;
    top: 400px;
    width: 537px;
}
.btn{
position: absolute;
display: flex;
width: 100px;
height: 50px;
left: 90px;
top: 570px;
align-items: center;
justify-content: center;
}
.btn1{
    position: absolute;
    display: flex;
    width: 60px;
    height: 50px;
    left: 190px;
    top: 570px;
    background-color: #C08D5D;
    align-items: center;
    justify-content: center;
}
}